@charset "utf-8";
/* CSS Document */

/* custom fonts */
@font-face {
	font-family:OpenSansLight;
	src:url('../fonts/open-sans-light/open-sans-light.eot');
	src:url('../fonts/open-sans-light/open-sans-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-light/open-sans-light.svg#OpenSansLight') format('svg'),
		url('../fonts/open-sans-light/open-sans-light.woff') format('woff'),
		url('../fonts/open-sans-light/open-sans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:OpenSansRegular;
	src:url('../fonts/open-sans-regular/open-sans-regular.eot');
	src:url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-regular/open-sans-regular.svg#OpenSansRegular') format('svg'),
		url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
		url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:OpenSansBold;
	src:url('../fonts/open-sans-bold/open-sans-bold.eot');
	src:url('../fonts/open-sans-bold/open-sans-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans-bold/open-sans-bold.svg#OpenSansBold') format('svg'),
		url('../fonts/open-sans-bold/open-sans-bold.woff') format('woff'),
		url('../fonts/open-sans-bold/open-sans-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:MontserratRegular;
	src:url('../fonts/montserrat-regular/montserrat-regular.eot');
	src:url('../fonts/montserrat-regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat-regular/montserrat-regular.svg#MontserratRegular') format('svg'),
		url('../fonts/montserrat-regular/montserrat-regular.woff') format('woff'),
		url('../fonts/montserrat-regular/montserrat-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* /custom fonts */

html { font-size:100%; }

body { font-family:OpenSansRegular, sans-serif; font-size:0.875em; color:#454545; background-color:#f5f5f5; }
input, textarea, select { font-family:Arial, Helvetica, sans-serif; color:#454545; }

a { outline:none; text-decoration:none; color:#99cc00; transition:all linear 0.2s; }
a:hover, a:focus { text-decoration:underline; color:#99cc00; outline:none; }
	a * { transition:all linear 0.2s; }
	a img { border:0; }

img { max-width:100%; }

h1, h2, h3, h4, h5, h6, p { margin:0 0 10px 0; font-weight:normal; }

p { line-height:1.2em; }

h1 { margin:0; }
h2 { font-size:2em; font-family:MontserratRegular, sans-serif; text-transform:uppercase; }
h3 { font-size:1.6em; }
h4 { font-size:1.2em; }
h5 { font-size:1.0em; font-weight:bold; }

small { font-size:70%; }

abbr, article, aside, audio, bb, canvas, datagrid, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video { display:block; }

/* header */
header { min-height:100px; padding:15px 0; background-color:#fff; }
	
	/* nav */
	nav {}
	.navbar-default { border:0; min-height:100px; background-color:#fff; }
	#navbar { float:right; margin:25px 0 0 0; }
	.navbar-default .navbar-toggle { background-color:#99cc00; border:0; border-radius:0; position:relative; width:40px; height:42px; line-height:30px; overflow:hidden; margin:30px 15px 0 0; }
	.navbar-default .navbar-toggle:after { content:""; position:absolute; left:0; right:0; bottom:0; height:2px; background-color:#67b300; transition:height linear 0.2s; }
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color:#99cc00; }
	.navbar-default .navbar-toggle:hover:after { height:100%; z-index:1; }
		.navbar-toggle i { color:#fff; font-size:1.5em; position:relative; z-index:2; }
	.navbar-default .navbar-nav > li > a { color:#454545; }
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color:#67b300; }
	.navbar-default .navbar-nav > li.campaign { margin:5px 0 0 0; }
		.navbar-default .navbar-nav > li.campaign > a { background-color:#fc6c06; border-radius:3px; color:#fff; text-transform:uppercase; padding:10px 12px; font-family:OpenSansBold, sans-serif; font-size:0.93em; position:relative; overflow:hidden; }
			.navbar-default .navbar-nav > li.campaign > a span { position:relative; z-index:2; }
		.navbar-default .navbar-nav > li.campaign > a:after { content:""; position:absolute; left:0; right:0; bottom:0; height:2px; background-color:#c25407; transition:height linear 0.2s; border-radius:0 0 3px 3px; z-index:1; }
		.navbar-default .navbar-nav > li.campaign > a:hover:after { height:100%; }
	/* /nav */
/* /header */

/* content */
#content { min-height:100px; padding:0 0 30px 0; }
	h2.underline { position:relative; margin:0 0 40px 0; }
	h2.underline:before { content:""; width:80px; height:2px; background-color:#99cc00; position:absolute; left:50%; bottom:-20px; margin-left:-40px; }
	
	/* front page */
	/* main slider */
	.main-slider { position:relative; }
	.main-slider .flex-viewport { z-index:1; }
		.main-slider li { position:relative; }
			.main-slider .one figure { position:relative; z-index:1; }
				.main-slider .one figure img { width:100%; }
			.main-slider .one .contents { position:absolute; z-index:2; left:0; right:0; top:150px; bottom:0; color:#fff; text-align:center; }
				.main-slider .one .contents h2 { font-family:MontserratRegular, sans-serif; font-size:4em; text-shadow:2px 2px 0 rgba(0, 0, 0, .5); text-transform:none; }
				.main-slider .one .contents h4 { font-size:1.72em; text-shadow:2px 2px 0 rgba(0, 0, 0, .5); }
				.main-slider .one .contents .buttons { margin:20px 0 0 0; }
					.banner-button { display:inline-block; width:354px; height:135px; position:relative; color:#fff; text-shadow:2px 2px 0 rgba(0, 0, 0, .4); margin:0 -3px; }
					.banner-button:hover { color:#fff; text-decoration:none; }
					.banner-button:before { content:""; position:absolute; top:0; right:0; bottom:0; left:0; background:transparent url(../images/banner-shaped-bg.png) 0 0 no-repeat; background-size:cover; z-index:1; }
						.banner-button .icon { display:inline-block; width:90px; height:90px; line-height:120px; text-align:center; background-color:#99cc00; border-radius:50%; position:absolute; z-index:2; top:23px; left:-44px; }
						.banner-button:hover .icon { background-color:#454545; }
						.banner-button .content { position:absolute; z-index:3; top:20px; left:90px; }
							.banner-button strong { display:block;  font-family:MontserratRegular, sans-serif; font-size:1.72em; text-transform:uppercase; font-weight:normal; }
							.banner-button small { font-size:100%; font-size:1.29em; margin:6px 0 0 0; display:block; line-height:150%; }
					
					.banner-button.donate:before { -webkit-transform:scaleX(-1); -moz-transform:scaleX(-1); -ms-transform:scaleX(-1); -o-transform:scaleX(-1); transform:scaleX(-1); }
					.banner-button.donate .icon { left:auto; right:-44px; background-color:#0064d2; }
					.banner-button.donate:hover .icon { background-color:#454545; }
					.banner-button.donate .content { left:36px; }
	
	.main-slider .slider-cover { position:absolute; z-index:2; left:0; right:0; bottom:-2px; }
		.main-slider .slider-cover img { width:100%; }
	.main-slider .flex-control-nav { z-index:3; bottom:70px; left:0; right:0; text-align:center; }
		.flex-control-nav li { margin:0 4px; }
			.main-slider .flex-control-paging li a { width:8px; height:8px; background-color:#fff; }
			.main-slider .flex-control-paging li a.flex-active { background-color:#b2b1ab; }
	/* /main slider */
	
	/* how it works */
	.how-it-works { padding:50px 0 60px 0; background-color:#fff; text-align:center; }
		.how-it-works h4 { color:#686868; font-size:1.29em; line-height:150%; }
		.how-it-works .box { margin:60px 0 30px 0; padding:0 20px; }
			.how-it-works .box figure { margin:0 0 30px 0; }
			.how-it-works .box h5 { font-family:MontserratRegular, sans-serif; font-size:1.43em; font-weight:normal; }
			.how-it-works .box p { line-height:150%; font-size:1.14em; }
		.how-it-works .steps { width:70%; margin:0 auto; position:relative; }
		.how-it-works .steps:before { content:""; height:2px; background-color:#ccc; left:0; right:0; z-index:1; position:absolute; top:19px; }
			.how-it-works .steps span { display:inline-block; width:40px; height:40px; line-height:40px; text-align:center; background-color:#99cc00; border-radius:50%; color:#fff; font-family:MontserratRegular, sans-serif; font-weight:bold; font-size:1.71em; float:left; position:relative; z-index:2; }
			.how-it-works .steps span + span { float:none; margin:0 auto; }
			.how-it-works .steps span + span + span { float:right; margin:0; }		
	/* /how it works */
	
	/* featured campaigns */
	.featured-campaigns { padding:40px 0 0 0; }
		.featured-campaigns h2 { margin-bottom:50px; }
		.featured-campaigns .box { position:relative; }
			.featured-campaigns .box figure { position:relative; z-index:1; overflow:hidden; }
				.featured-campaigns .box figure img { width:100%; display:inline-block; opacity:0.8; }
				.featured-campaigns .box figure img:hover { transform:scale(1.05); opacity:1; }
			.featured-campaigns .box .contents { position:absolute; z-index:2; left:0; right:0; bottom:0; padding:10px 20px; background-color:rgba(0, 0, 0, .5); color:#fff; }
				.featured-campaigns .box .contents h4 { font-size:1em; margin:0 0 10px 0; }
				.featured-campaigns .box .contents h3 { font-size:1.29em; margin:0; }
					.featured-campaigns .box .contents h3 a { color:#fff; text-transform:uppercase; }
					.featured-campaigns .box .contents h3 a:hover { text-decoration:none; }
				.featured-campaigns .box .contents p { font-size:0.93em; margin:0; text-align:right; }
					.featured-campaigns .box .contents p span { display:inline-block; width:54px; height:54px; border-radius:50%; overflow:hidden; vertical-align:middle; margin:0 0 0 10px; }
						.featured-campaigns .box .contents p span img { width:100%; height:100%; }
		
		.featured-campaigns .campaign-scroller { margin:40px 0 0 0; }
			.featured-campaigns .campaign-scroller ul { margin:0; padding:0; list-style:none; }
			.featured-campaigns .campaign-scroller ul:before, .featured-campaigns .campaign-scroller ul:after { content:""; display:table; }
			.featured-campaigns .campaign-scroller ul:after { clear:both; }
				.featured-campaigns .campaign-scroller li { float:left; width:33.333333%; padding:0 1px; position:relative; }
					.featured-campaigns .campaign-scroller li figure { position:relative; z-index:1; overflow:hidden; background-color:#202020; }
						.featured-campaigns .campaign-scroller li figure img { width:100%; display:inline-block; opacity:0.5; }
						.featured-campaigns .campaign-scroller li figure img:hover { transform:scale(1.05); opacity:1; }
					.featured-campaigns .campaign-scroller li .contents { position:absolute; z-index:2; left:0; right:0; bottom:10px; padding:10px 20px; color:#fff; }
						.featured-campaigns .campaign-scroller li .contents h4 { font-size:1em; margin:0 0 5px 0; }
						.featured-campaigns .campaign-scroller li .contents h3 { font-size:1.29em; margin:0 0 5px 0; }
							.featured-campaigns .campaign-scroller li .contents h3 a { color:#fff; text-transform:uppercase; }
							.featured-campaigns .campaign-scroller li .contents h3 a:hover { text-decoration:none; }
							.featured-campaigns .campaign-scroller li .contents p { margin:0; }
							.featured-campaigns .campaign-scroller li .contents a.more { position:absolute; right:15px; bottom:10px; }
							.featured-campaigns .campaign-scroller li .contents a.more:hover { right:10px; }
	/* /featured campaigns */
	
	/* fund campaigns */
	.fund-campaigns { padding:50px 0 0 0; }
		.fund-campaigns .campaign-tags { margin:50px 0 0; }
			.fund-campaigns .campaign-tags ul { margin:0; padding:0; list-style:none; }
			.fund-campaigns .campaign-tags ul:before, .fund-campaigns .campaign-tags ul:after { content:""; display:table; }
			.fund-campaigns .campaign-tags ul:after { clear:both; }
				.fund-campaigns .campaign-tags li { float:left; width:190px; margin:0 0 10px 0; }
					.fund-campaigns .campaign-tags a { color:#999; font-size:1.14em; }
					.fund-campaigns .campaign-tags a:hover { color:#99cc00; }
					.fund-campaigns .campaign-tags li:last-child a { color:#99cc00; }
		
		.fund-campaigns .campaign-search { margin:20px 0 20px 0; }
		.fund-campaigns .campaign-search:before, .fund-campaigns .campaign-search:after { content:""; display:table; }
		.fund-campaigns .campaign-search:after { clear:both; }
			.fund-campaigns .campaign-search .input-box { width:20.6%; border:1px solid #dedede; margin:0 0 0 -1px; float:left; min-height:50px; background-color:#fff; }
				.fund-campaigns .campaign-search .input-box input[type="search"] { border:0; width:100%; padding:13px 15px; color:#686868; }
				.fund-campaigns .campaign-search .input-box ::-webkit-input-placeholder { color:#686868; font-family:OpenSansRegular, sans-serif; font-size:1em; opacity:1; }
				.fund-campaigns .campaign-search .input-box :-ms-input-placeholder { color:#686868; font-family:OpenSansRegular, sans-serif; font-size:1em; opacity:1; }
				.fund-campaigns .campaign-search .input-box ::-moz-placeholder { color:#686868; font-family:OpenSansRegular, sans-serif; font-size:1em; opacity:1; }
			.fund-campaigns .campaign-search .select-box { width:18%; border:1px solid #dedede; margin:0 0 0 -1px; float:left; min-height:50px; background-color:#fff; }
			.fund-campaigns .campaign-search button[type="submit"] { float:right;background-color:#99cc00; border:0; border-radius:0; position:relative; width:54px; height:50px; line-height:30px; overflow:hidden; margin:0; }
	.fund-campaigns .campaign-search button[type="submit"]:after { content:""; position:absolute; left:0; right:0; bottom:0; height:2px; background-color:#67b300; transition:height linear 0.2s; }
	.fund-campaigns .campaign-search button[type="submit"]:hover, .fund-campaigns .campaign-search button[type="submit"]:focus { background-color:#99cc00; }
	.fund-campaigns .campaign-search button[type="submit"]:hover:after { height:100%; z-index:1; }
		.fund-campaigns .campaign-search button[type="submit"] i { color:#fff; font-size:1.14em; position:relative; z-index:2; }
		
		.fund-campaigns .campaign-boxes {  }
			.fund-campaigns .campaign-boxes .box { border:1px solid transparent; display:block; background-color:#fff; position:relative; overflow:hidden; margin:0 auto 30px auto; text-align:center; max-width:270px; }
			.fund-campaigns .campaign-boxes .box:hover { border-color:#99cc00; text-decoration:none; }
			.fund-campaigns .campaign-boxes .box img { max-width:100%; display:block; }
			.fund-campaigns .campaign-boxes .box .data { /* border:1px solid transparent; */ display:block; min-height:230px; }
			/* .fund-campaigns .campaign-boxes .box:hover .data { border-color:#99cc00; border-top-color:transparent; } */
				.fund-campaigns .campaign-boxes .box .percent-circle { display:block; margin:0 auto -55px; width:110px; height:110px; background-color:#fff; border-radius:50%; position:relative; top:-55px; padding:7px; }
					.fund-campaigns .campaign-boxes .box .percent-circle .c100 { font-size:96px; }
				.fund-campaigns .campaign-boxes .box .category-name { display:block; margin:0 0 5px 0; }
				.fund-campaigns .campaign-boxes .box .category-title { display:block; color:#454545; font-size:1.14em; margin:0 0 5px 0; }
				.fund-campaigns .campaign-boxes .box .category-desc { display:block; color:#686868; margin:0 0 20px 0; }
				.fund-campaigns .campaign-boxes .box .category-meta { display:block; padding:0 30px; font-family:OpenSansBold, sans-serif; font-size:1.07em; color:#686868; }
					.fund-campaigns .campaign-boxes .box .category-meta .price { float:left; }
					.fund-campaigns .campaign-boxes .box .category-meta .days { float:right; }
						.fund-campaigns .campaign-boxes .box .category-meta .fa { color:#99cc00; }
	/* /fund campaigns */
	
	/* /front page */
	
	/* custom selectbox */
	.fancy-selectbox {}
	.sbHolder { background-color:#fff; height:48px; position:relative; }
		.sbHolder a, .sbHolder a:hover, .sbHolder a:focus, .sbHolder a:active { color:#686868; text-decoration:none; }
		.sbSelector { display:block; width:100%; height:48px; line-height:48px; text-indent:10px; overflow:hidden; position:absolute; left:0; top:0; z-index:1; }
		
		.sbToggle { background:transparent url(../images/selectbox-arrow.png) center center no-repeat; display:block; width:30px; height:48px; outline:none; position:absolute; right:0; top:0; z-index:2; }
		.select-box.double .sbToggle { background:transparent url(../images/selectbox-double-arrow.png) center center no-repeat; }
		.sbHolder:hover .sbToggle { background-color:transparent; }
		
		.sbOptions { background-color:#fff; list-style:none; position:absolute; right:0px; top:30px; margin:0; padding:5px 5px; width:100%; z-index:101; overflow-y:auto; box-shadow:0 0 16px rgba(0, 0, 0, .2); }
			.sbOptions li {}
			.sbOptions li:last-child { border:0; }
			.sbOptions a {display: block; outline: none; padding:6px 10px; color:#686868; }
			.sbOptions a:hover, .sbOptions a:focus { color:#99cc00; }
	/* /custom selectbox */
/* /content */

/* icons */
[class^="icon-"] { display:inline-block; display:inline-block; background:transparent url(../images/sprites.png) 0 0 no-repeat; }

.icon-bullhorn { width:54px; height:42px; }
.icon-bag-heart { width:31px; height:42px; background-position:-70px 0px; }
.icon-create-campaign { width:111px; height:95px; background-position:0px -70px; }
.icon-share-friends { width:75px; height:95px; background-position:-130px -70px; }
.icon-accept-donations { width:71px; height:102px; background-position:-220px -70px; }
.icon-more-arrow { width:23px; height:21px; background-position:-120px 0px; }
/* /icons */

/* footer */
.footer-top { background-color:#0064d2; color:#fff; padding:40px 0 50px 0; text-align:center; }
	.footer-top h2 { font-family:OpenSansLight, sans-serif; font-size:3em; margin:0 0 30px 0; text-transform:none; }
	.footer-top h4 { font-family:OpenSansLight, sans-serif; font-size:1.43em; }
	.footer-top .buttons { margin:40px 0 0 0; }
		.big-button { border-radius:28px; position:relative; overflow:hidden; display:inline-block; margin:0 5px; }
			.big-button span { display:inline-block; padding:0 10px 0 30px; min-height:55px; background-color:#99cc00; color:#fff; font-family:OpenSansBold, sans-serif; font-size:1.28em; border-top:1px solid #defc82; border-bottom:2px solid #67b400; border-radius:28px; text-shadow:1px 1px 0px #67b400; }
				.big-button span * { position:relative; z-index:2; }
				.big-button span i { font-weight:normal; display:inline-block; padding:18px 20px 16px 0; position:relative; float:left; }
				.big-button span i:after { content:""; position:absolute; right:0; top:2px; bottom:0; width:1px; background:linear-gradient(rgba(148, 209, 0, .4) 5%, rgba(148, 209, 0, 1), rgba(148, 209, 0, .4) 95%); }
				.big-button span b { font-weight:normal; display:inline-block; padding:18px 30px 18px 30px; position:relative; }
				.big-button span b:before { content:""; position:absolute; left:0; top:2px; bottom:0; width:1px; background:linear-gradient(rgba(103, 180, 0, .4) 5%, rgba(103, 180, 0, 1), rgba(103, 180, 0, .4) 95%); }
		.big-button:hover { text-decoration:none; }
			.big-button span:after  { content:""; position:absolute; left:0; right:0; bottom:0; height:0px; background-color:#67b400; transition:height linear 0.2s; z-index:1; }
			.big-button span:hover:after { height:100%; }
		
		.big-button.facebook span { background-color:#3258a6; border-top-color:#7699f3; border-bottom-color:#173689; text-shadow:2px 2px 0px #173689; }
		.big-button.facebook span:after { background-color:#173689; }
		.big-button.facebook span i:after { background:linear-gradient(rgba(118, 153, 243, .4) 5%, rgba(118, 153, 243, 1), rgba(118, 153, 243, .4) 95%); }
		.big-button.facebook span b:before { background:linear-gradient(rgba(23, 54, 137, .4) 5%, rgba(23, 54, 137, 1), rgba(23, 54, 137, .4) 95%); }		

footer { background-color:#24292e; color:#838283; }
	footer a { color:#838283; }
	footer .top { padding:50px 0 40px 0; font-size:0.93em; }
		footer .top h3 { color:#99cc00; font-size:1.38em; text-transform:uppercase; margin:0 0 25px 0; }
		footer .top .links { margin:0; padding:0; list-style:none; float:left; width:50%; }
			footer .top .links li { margin:0 0 5px 0; }
			footer .top .links li:before { content:"\f101"; font-family:FontAwesome; color:#99cc00; margin:0 5px 0 0; }
			footer .top .links li a {}
			footer .top .links li:hover a { text-decoration:none; }
		footer .top .contact {}
			footer .top .contact p { line-height:150%; }
			footer .top .contact p:before, footer .top .contact p:after { content:""; display:table; }
			footer .top .contact p:after { clear:both; }
				footer .top .contact .fa { color:#99cc00; min-width:20px; margin:4px 0 0 0; float:left; }
				footer .top .contact span { float:left; }
		footer .top .newsletter-form { margin:10px 0 0 0; position:relative; }
			footer .top .newsletter-form .cover { display:block; margin:0 160px 0 0; }
				footer .top .newsletter-form input[type="email"] { border:1px solid #838283; border-radius:3px; background-color:transparent; padding:10px 10px; width:100%; color:#838283; }
			footer .top .newsletter-form button[type="submit"] { background-color:#99cc00; min-width:150px; text-align:center; border:0; border-top:1px solid #defc82; border-radius:3px; color:#fff; padding:10px 20px; position:absolute; overflow:hidden; top:0; right:0; }
				footer .top .newsletter-form button[type="submit"] span { position:relative; z-index:2; }
			footer .top .newsletter-form button[type="submit"]:after { content:""; position:absolute; left:0; right:0; bottom:0; height:2px; background-color:#67b300; transition:height linear 0.2s; z-index:1; }
			footer .top .newsletter-form button[type="submit"]:hover:after { height:100%; }
			
			footer .top .newsletter-form ::-webkit-input-placeholder { color:#838283; font-family:OpenSansRegular, sans-serif; font-size:0.93em; opacity:1; }
			footer .top .newsletter-form :-ms-input-placeholder { color:#838283; font-family:OpenSansRegular, sans-serif; font-size:0.93em; opacity:1; }
			footer .top .newsletter-form ::-moz-placeholder { color:#838283; font-family:OpenSansRegular, sans-serif; font-size:0.93em; opacity:1; }
		
		footer .top .social { margin:35px 0 0 0; }
			footer .top .social a { display:inline-block; width:40px; height:40px; line-height:36px; text-align:center; border-radius:50%; border:1px solid #838283; font-size:1.38em; margin:0 15px 0 0; }
			footer .top .social a:hover { border-color:#99cc00;}
		
	footer .bottom { padding:40px 0; border-top:1px solid #494d51; background:transparent url(../images/logo-footer.png) center center no-repeat; }
		footer .bottom .links { text-align:right; }
			footer .bottom .links a { margin:0 15px 0 15px; }
			footer .bottom .links a:last-child { margin-right:0; }
/* /footer */

@media screen and (max-width: 360px) {
	.main-slider .one .contents { top:20px; }
	.main-slider .one .contents h2 { font-size:1.5em; }
	.main-slider .one .contents h4 { font-size:1em; }
	.main-slider .one .contents .buttons { display:none; }
	.main-slider .flex-control-nav { bottom:8px; }
}

@media screen and (min-width:361px) and (max-width: 480px) {
	.main-slider .one .contents { top:30px; }
	.main-slider .one .contents h2 { font-size:2.5em; }
	.main-slider .one .contents h4 { font-size:1.5em; }
	.main-slider .one .contents .buttons { display:none; }
	.main-slider .flex-control-nav { bottom:10px; }
}

@media screen and (min-width:481px) and (max-width: 640px) {
	.main-slider .one .contents { top:40px; }
	.main-slider .one .contents h2 { font-size:3em; }
	.main-slider .one .contents h4 { font-size:2em; }
	.main-slider .one .contents .buttons { display:none; }
	.main-slider .flex-control-nav { bottom:20px; }
}

/* extra small device (xs)*/
@media screen and (max-width: 767px) {
	body { padding:0 5px; }
	.container { padding:0 10px; }
	.row { margin:0 -10px; }
	[class^="col-"] { padding:0 10px; }
	
	.navbar-brand { max-width:70%; }
	#navbar { float:none; text-align:center; background-color:#67b300; }
	.navbar-default .navbar-nav > li > a { color:#fff; }
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background-color:#99cc00; color:#fff; }
	.navbar-nav { margin:0 -15px; }
	.navbar-default .navbar-nav > li.campaign > a { border-radius:0; }
	.navbar-default .navbar-nav > li.campaign > a:after { border-radius:0; }
	
	.main-slider { margin:0 -5px; }
	.featured-campaigns .box { margin:0 0 20px 0; }
	.featured-campaigns .box .contents {}
	.featured-campaigns .campaign-scroller li { float:none; width:100%; margin:0 0 20px 0; }
	
	.footer-top { margin:0 -5px; padding-left:5px; padding-right:5px; }
	.footer-top h2 { font-size:2em; }
	.footer-top .buttons a { margin-bottom:5px; }
	.big-button span i { padding:18px 10px 16px 0; }
	.big-button span b { padding:18px 20px 18px 20px; }
	
	footer { margin:0 -5px; }
	footer .top .links { margin:0 0 20px 0; }
	footer .top .contact { margin:0 0 20px 0; }
	footer .top .newsletter-form { text-align:center; }
	footer .top .newsletter-form .cover { margin:0 0 5px 0; }
	footer .top .newsletter-form button[type="submit"] { position:relative; margin:0 auto; width:100%; }
	footer .bottom { padding-bottom:80px; background-position:center bottom; }
	footer .bottom .links { text-align:left; margin:10px 0 0 0; }
	footer .bottom .links a { margin:0 5px; }
	footer .bottom .links a:first-child { margin-left:0; }
	.fund-campaigns .campaign-search .input-box, .fund-campaigns .campaign-search .select-box { float:none; width:100%; margin:0 0 -1px 0; }
	.fund-campaigns .campaign-search button[type="submit"] { float:none; margin:5px auto; display:block; width:100%; }
}

/* small device (sm) */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-header { max-width:20%; margin:10px 0 0 0; }
	.nav > li > a { padding:10px 5px; }
	.navbar-default .navbar-nav > li.campaign { margin:0; }
	#navbar { margin:30px 0 0 0; }
	
	.main-slider .one .contents { top:30px; }
	.main-slider .one .contents h2 { font-size:2.6em; }
	.main-slider .one .contents h4 { font-size:1.8em; }
	.banner-button .icon { left:-40px; }
	.banner-button.donate .icon { right:-40px; }
	.main-slider .flex-control-nav { bottom:25px; }
	.fund-campaigns .campaign-boxes .box .data { min-height:240px; }
	.fund-campaigns .campaign-boxes .box .category-meta { padding:0 10px; }
	.fund-campaigns .campaign-search .input-box { width:50%; }
	.fund-campaigns .campaign-search .select-box { width:30.8%; margin-top:-1px; }
	.fund-campaigns .campaign-search button[type="submit"] { width:48px; height:48px; margin:1px 2px 0 0; }
	
	footer .top .contact { margin:0 0 20px 0; }
	footer .bottom .links a { margin:0 10px; }
}

/* medium device (md) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.main-slider .one .contents { top:50px; }
	.main-slider .flex-control-nav { bottom:35px; }
	.fund-campaigns .campaign-boxes .box .data { min-height:240px; }
	.fund-campaigns .campaign-boxes .box .category-meta { padding:0 20px; }
	.fund-campaigns .campaign-search button[type="submit"] { width:48px; }
}

/* large device (lg) */
@media screen and (min-width: 1200px) {
	
}