.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* Search Header */
.search-header {
	background-image: url('../images/search-header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.search-header .jumbotron {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding-top: 25px;
	padding-bottom: 20px
}
.search-header .page-header {
    border: none;
    margin: 40px 0 65px 0;
    padding-bottom: 9px;
}
.search-header h1 {
    font-family: MontserratRegular, sans-serif;
    font-size: 2.6em;
    margin-bottom: 20px;
}
.search-header h3 {
    font-family: OpenSansLight, sans-serif;
    font-size: 1.25em;
}
.search-header .counter,
.search-header .thousand {
	font-family: OpenSansLight, sans-serif;
    font-size: 2.3em;
}
.dollar-sign {
    font-size: 1.2em;
}

/* Campaign Category Navigation*/
.campaign-category {
	background: white;
}
.campaign-category h3 {
    background: #99cd00 none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    font-family: MontserratRegular,sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
}
.campaign-category .nav {
	padding-left: 10px;
	padding-bottom: 15px;
}
.campaign-category .nav > li > a {
    display: block;
    padding: 7px 15px;
    position: relative;
    color: #454545;
}
.campaign-category .nav > li > a:hover, 
.campaign-category .nav > li > a:focus {
    color: #99cc00;
    background: none;
}
.campaign-category .fa {
    padding-right: 5px;
    color: #99cc00;
}

/* Search Campaigns */
div.search-campaigns {
	padding: 0;
}
div.search-campaigns .campaign-search {
	margin-top: 0;
    margin-bottom: 10px;
}
div.search-campaigns .campaign-search .input-box {
    margin-right: 5px;
    width: 36%;
}
div.search-campaigns .campaign-search .select-box {
    margin-right: 5px;
    width: 24.68%;
}
div.search-campaigns .campaign-search .list-inline > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}
.btn-gridview {
	width: 54px;
	height: 50px;
	line-height: 42px;
	border-radius: 0;
    position: relative;
}
.btn-gridview:after {
    background-color: #F5F5F5;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    transition: height 0.2s linear 0s;
}
.btn-gridview:hover:after {
    height: 100%;
    z-index: 1;
}
.btn-gridview .fa {
    color: #999999;
    font-size: 1.6em;
    z-index: 2;
    position: relative;
}
.search-campaigns .category-title {
    font-family: MontserratRegular, sans-serif;
    color: #454545;
}
.search-campaigns .author-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.search-campaigns .author-info {
    text-align: left;
    font-family: OpenSansLight, sans-serif;
    font-size: 14px;
    color: #454545;
}
.search-campaigns .author-info span{
    color: #99cc00;
}
.search-campaigns .campaign-info {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding: 15px;
    color: #686868;
}
.search-campaigns .campaign-info span{
    font-family: OpenSansRegular, sans-serif;
    font-size: 13px;
}
.search-campaigns .campaign-info strong{
    font-family: OpenSansBold, sans-serif;
    font-size: 18px;
}
.campaign-footer {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.campaign-footer p {
    font-family: OpenSansLight, sans-serif;
    color: #999999;
    margin: 0;
    padding: 6px 0;
}
.campaign-footer .pagination {
    margin: 0;
}
.campaign-footer .pagination > li > a, 
.campaign-footer .pagination > li > span {
    background: none;
    border: none;
    color: #454545;
}
.campaign-footer .pagination > li > a:hover, 
.campaign-footer .pagination > li > span:hover {
    color: #99cc00;
}

/* For Camp List View */
.padding-five {
    padding: 0 5px;
}
.listview-image {
      width:  100%;
      height: 100%;
}

.fund-campaigns .campaign-boxes.listview .box .category-desc {
    margin: 0 0 5px;
}
.campaign-boxes.listview .border:after {
    background: #ccc none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 100%;
    left: 15px;
    position: absolute;
    top: 0;
    width: 1px;
}
.campaign-boxes.listview .campaign-info span,
.campaign-boxes.listview .campaign-info strong {
    display: block;
}
.campaign-boxes.listview .campaign-info {
    border: none;    
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}
.campaign-boxes.listview .campaign-info li{
    padding-bottom: 5px;
}
.campaign-boxes.listview .author-info {
    margin-bottom: 0;
    margin-left: -5px;
}
.campaign-boxes.listview .author-info li:nth-child(2) {
    position: relative;
    top: -15px;
}
.campaign-boxes.listview .author-info li:nth-child(3) {
    position: relative;
    top: -15px;
    font-size: 13px;
}

/* For Org List View */
.follow-us {
    color: #0064d2;
    font-size: 13px;
    border-color: #0064d2;
    padding: 6px 24px;
    margin-top: 5px;  
}
.follow-us .fa-heart {
    margin-right: 5px; 
}
div.fund-campaigns .campaign-boxes.organization .box .data {
    padding: 15px;
}
div.campaign-boxes.organization .campaign-info li {
    padding: 15px 0;
}

/* Style For FAQ Page */
.faq-header {
    background: #99cc00;
    padding: 25px 0 12px 0;
}
.faq-header .page-header {
    border-color: transparent;
} 
.faq-header .page-header h1 {
    font-size: 36px;
    font-family: MontserratRegular, sans-serif;
    color: rgb( 69, 69, 69 );
    margin-bottom: 18px;
}
.faq-header .page-header p {
    font-size: 18px;
    color: rgb( 69, 69, 69 );
}
.faq-header .page-header a {
    color: white;
}
.faq-search {
    padding-top: 29px;
}
.faq-search .input-group {
    background: white;
    border-bottom: 2px solid #80ab00;
}
.faq-search .form-control {
    height: 54px;
    border: transparent;
    padding-left: 20px;
}
.faq-search .input-group-btn > .btn {
    font-family: OpenSansBold, sans-serif;
    font-size: 16px;
    color: #99cc00;
    text-transform: uppercase;
    border: transparent;
    background: transparent;
    outline: none;
}
.faq-main {
    background: white;
}
.faq-content{
    padding-top: 65px;
}
.faq-content h3 {
  font-size: 24px;
  font-family: MontserratRegular, sans-serif;
  margin-bottom: 18px;
}
.faq-content .panel,
.faq-content .panel-default > .panel-heading {
    border: none;
    background: none;
    color: #0064d2;
    box-shadow: none;
}
.faq-content .panel-default > .panel-heading {
    padding: 6.8px 15px 6.8px 0;
}
.faq-content .panel-group {
    margin-bottom: 10px;
}
.view-all {
    font-size: 16px;
}
.faq-content .question-group {
    margin-bottom: 48px;
}
.faq-content .panel-body {
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 15px;
}
.faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    background: #f5f5f5;
    color: rgb(69, 69, 69);
    line-height: 1.75;
    font-size: 14px;
}


@media screen and (max-width: 360px) {
    .campaign-category ul.nav > li {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width:361px) and (max-width: 480px) {

}

@media screen and (min-width:481px) and (max-width: 640px) {

}

/* extra small device (xs)*/
@media screen and (max-width: 767px) {
    .row-eq-height {
        display: block;
    }
    .campaign-boxes.listview .campaign-info li {
        display: inline-block;
        padding-bottom: 5px;
        text-align: center;
        width: 30%;
    }
    .campaign-boxes.listview .border {
        border-top: 1px solid #ccc;
    }
    .campaign-boxes.listview .border:after {
        display: none;
    }
    .campaign-boxes.listview .author-info {
        margin-bottom: 0;
        margin-left: 0;
    }
    div.search-campaigns .campaign-search .input-box {
        margin: 0 0 5px 0;
        width: 100%;
    }
    div.search-campaigns .campaign-search .select-box {
        margin: 0 0 5px 0;
        width: 100%;
    }
    div.search-campaigns .campaign-search .list-inline {
        margin-left: 0;
    }
    div.search-campaigns .campaign-search .list-inline > li{
        display: block;
    }
    .btn-gridview {
        width: 100%;
    }
    div.search-campaigns .campaign-search {
        margin-top: 30px;
    }
    .campaign-category .nav > li {
        width: 50%;
        float: left;
    }
}
@media screen and (min-width: 768px) {
    .fund-campaigns .campaign-boxes.listview .box {
        max-width: 100%;
        text-align: left;
    }
    .fund-campaigns .campaign-boxes.listview .box .data {
        min-height: auto;
        padding-left: 50px;
        padding-top: 12px;
    }
    .fund-campaigns .campaign-boxes.listview .box .percent-circle {
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        left: -55px;
    }
}

/* small device (sm) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    div.search-campaigns .campaign-search .input-box {
        width: 33.4%;
    }
    div.search-campaigns .campaign-search button[type="submit"] {
        height: 50px;
        margin: 0;
        width: 54px;
    }
    div.search-campaigns .campaign-search .select-box {
        margin-top: 0;
    }
    div.search-campaigns .campaign-search {
        margin-top: 30px;
    }
    .campaign-category .nav > li {
        width: 30%;
        float: left;
    }
}

/* medium device (md) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.search-campaigns .campaign-search .input-box {
        width: 33.4%;
    }
    div.search-campaigns .campaign-search button[type="submit"] {
        height: 50px;
        margin: 0;
        width: 54px;
    }
    div.search-campaigns .campaign-search .select-box {
        margin-top: 0;
    }
}

/* large device (lg) */
@media screen and (min-width: 1200px) {
    .campaign-facts {
        padding: 0 100px;
    }
}